$fontHeading: 'Work Sans', sans-serif;
$fontBody: 'Open Sans', sans-serif;

$primaryColor: #77b748;
$primaryHoveredColor: #649a3d;
$primaryInsetShadowColor: #649b3c;
$primaryBorderColor: #dbdbdb;
$secondaryColor: #f16945;
$secondaryHoveredColor: #da6748;

$textWhite: #ffffff;
$textBlack: #484848;
$textGray: #666666;
$textGrayLight: #aeaeae;
$textBlue: #85c3f2;

$yellowStar: #fcd01e;

$primaryNavBackground: $primaryColor;
$secondaryNavBackground: #484848;

$facebookBackground: #3b5999;
$twitterBackground: #55acee;
$googleBackground: #dd4b39;
$linkedinBackground: #0077b5;
$instagramBackground: #517fa4;

$primaryBackground: #ffffff;
$secondaryBackground: #eaeaea;

$fullSizeWidth: 1170px;
$navHeight: 60px;
$headerTopHeight: 66px;