table {
  thead {
    th {
      text-align: left;
      font-weight: normal;
      font-size: 1.2em;
      color: #fff;
      background-color: #000;
      padding: 0.5em;
    }
    td {
      text-align: left;
      font-weight: normal;
      font-size: 1.2em;
      color: #fff;
      background-color: #000;
      padding: 0.5em;
    }
  }
}