.header {
	z-index: 1;
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// height: $headerTopHeight;
		padding: 30px 0;
		&-img {
			padding: 10px 0;
		}
		&-searchbox {
			margin: 0 60px;
			height: 100%;
			width: 100%;
			&-contain {
				position: relative;
				border: 1px solid $textGrayLight;
				border-radius: 4px;
				margin-bottom: 6px;
				input {
					width: 100%;
					height: 100%;
					padding: 9px 54px 10px 20px;
					line-height: 2.4rem;
					font-size: 1.4rem;
					border: none;
					outline: none;
					border-radius: 4px;
					background: transparent;
				}
				button {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					font-size: 4rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border: none;
					border-radius: 4px;
					background: transparent;
					padding: 0 20px;
					outline: none;
					cursor: pointer;
				}
			}
			a {
				font-size: 1.3rem;
				float: right;
				color: $textBlue;
				&:hover {
					color: $primaryColor;
				}
			}
		}
		&-list {
			display: flex;
			justify-content: center;
			align-items: center;
			&-wishlist,
			&-cart {
				position: relative;
				padding: 0 15px;
				&-content {
					cursor: pointer;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 600;
					line-height: 20px;
					span:first-child {
						font-size: 3rem;
						padding-right: 12px;
					}
					span:last-child {
						font-size: 1.4rem;
					}
					&-cart {
						border-left: 2px solid $textGrayLight;
					}

					&-number {
						position: absolute;
						top: -10px;
						left: 12px;
						font-size: 1.4rem;
						color: $textWhite;
						background: $secondaryColor;
						border-radius: 50px;
						height: 20px;
						width: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
				&-dropdown {
					position: absolute;
					top: 400%;
					right: 0;
					@include transition-hidden-top(0.5s);
					margin-top: 20px;
					// padding: 15px;
					width: 330px;
					height: 400px;
					background-color: $primaryBackground;
					box-shadow: 0 6px 12px #0000002e;
					z-index: 1;
					border-top: 3px solid $primaryColor;
					&-product {
						// padding-right: 15px;
						&-item {
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 10px 25px 10px 20px;
							&-img {
								width: 70px;
								min-width: 70px;
								min-height: 70px;
								height: 70px;
								margin-right: 15px;
								img {
									width: 100%;
									height: 100%;
									object-fit: contain;
								}
							}
							&-content {
								font-family: $fontHeading;
								margin: 0 15px;
								&-heading {
									font-size: 14px;
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
									word-break: break-word;
									flex: 1;
									margin-bottom: 10px;
								}
								&-body {
									display: flex;
									justify-content: space-between;
									align-items: center;
									&-price {
										font-size: 16px;
										font-weight: 600;
									}
									&-quantity {
										font-size: 14px;
										color: $textGrayLight;
										span {
											font-size: 14px;
											color: $textGrayLight;
										}
									}
								}
							}
							&:hover {
								background-color: $secondaryBackground;
							}
						}
					}
					&-separate {
						height: 2px;
						background-color: $textGrayLight;
						position: relative;
						margin: 15px;
					}
					&-action {
						&-delete {
							display: flex;
							justify-content: space-between;
							align-items: center;
							> span:first-child:hover > span {
								color: $primaryColor;
							}
							> span:first-child {
								cursor: pointer;
							}
							> span {
								display: flex;
								justify-content: center;
								align-items: center;
								margin: 0 20px;
								> span {
									font-size: 14px;
									color: $textGrayLight;
								}
							}
							&-icon {
								font-size: 20px !important;
							}
						}
						&-view {
							a {
								margin: 15px 10px;
							}
							:first-child {
								float: left;
							}
							:last-child {
								float: right;
							}
						}
					}
				}
			}
		}
	}
	&-navbar {
		height: $navHeight;
		background: $primaryNavBackground;
		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				a {
					font-size: 14px;
					padding: 0 40px;
					font-weight: 600;
					line-height: $navHeight;
					color: $textWhite;
					display: flex;
					justify-content: center;
					align-items: center;
					span {
						color: $textWhite;
						// font-weight: 600;
					}
				}
				&:hover {
					background: $primaryHoveredColor;
				}
			}
		}
		&-top,
		&-fixed {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-dropdown {
				position: absolute;
				top: 300%;
				left: 0;
				width: 600px;
				background: white;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
				overflow: hidden;
				z-index: 2;
				&-container {
					max-height: 420px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-wrap: wrap;
					&-item {
						width: 50%;
						a {
							width: 100%;
							display: -webkit-box !important;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							word-break: break-word;
							color: $textBlack !important;
							font-weight: 400 !important;
							&:hover {
								color: $primaryColor !important;
							}
						}
					}
				}
				&-more {
					display: flex;
					justify-content: center;
					align-items: center;
					border-top: 1px solid $textGrayLight;
					margin: 0 30px;
					a {
						display: inline-block !important;
						line-height: 40px !important;
						margin: 15px 0;
					}
				}
				@include transition-hidden-top(0.3s);
			}
		}
		&-fixed {
			height: $navHeight;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 3;
			background: $primaryNavBackground;
			display: flex;
			justify-content: space-between;
			align-items: center;
			display: none;
			&-right {
				display: flex;
				justify-content: center;
				align-items: center;
				&-searchbox-contain {
					border: 1px solid $textGrayLight;
					background-color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50px;
					input,
					button {
						background-color: transparent;
						border: none;
						color: $textBlack;
						font-size: 14px;
						padding: 4px 15px;
						width: 300px;
						outline: none;
						border-radius: 4px;
					}
					button {
						font-size: 34px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						width: unset;
					}
				}
				&-wishlist,
				&-cart,
				&-user {
					position: relative;
					&-dropdown-trigger {
						> a {
							position: relative;
							display: flex;
							justify-content: center;
							align-items: center;
							> span {
								color: $textWhite;
								font-size: 34px;
							}
							padding: 0 10px;
						}
					}
					&-number {
						position: absolute;
						top: -10px;
						right: 0;
						width: 30px;
						height: 20px;
						border-radius: 50px;
						background-color: $secondaryColor;
						color: $textWhite;
						font-size: 12px;
						line-height: 20px;
						text-align: center;
					}
				}
			}
		}
		&-user {
			&-dropdown {
				position: absolute;
				top: 300%;
				right: 0;
				margin-top: 20px;
				border-top: 3px solid $primaryColor;
				width: 200px;
				background-color: $primaryBackground;
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
				z-index: 2;
				@include transition-hidden-top(0.3s);
				
				&-heading {
					user-select: none;
					padding: 10px;
					p {
						font-size: 14px;
						color: $primaryColor;
					}
				}
				&-item {
					padding: 0 15px;
					a {
						display: block;
						border-top: 1px solid $textGrayLight;
						color: $textBlack;
						font-size: 14px;
						padding: 10px;
					}
					&:hover {
						background-color: $secondaryBackground;
					}
					&:last-child a {
						color: $secondaryColor;
					}
				}
			}
		}
		&-login {
			color: $textWhite;
			font-size: 14px;
			a {
				color: $textWhite;
				font-size: 14px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.dropdown-active {
	@include show-hidden-top(100%);
}
